.triggers-wrapper {
    display: flex;
    justify-content: center;
}
.triggers-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    margin-top: 20px;
}
.widgets-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}
